# dbt and project-specific
dbt_modules/
dbt_packages/
.dbt/
logs/
target/
profiles.yml

*governance-results.json
dbt-governance-logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env*/
dbt_env/
build/
!tests/functional/build
!core/dbt/docs/build
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.mypy_cache/
.dmypy.json
.user.yml

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.env
nosetests.xml
coverage.xml
*,cover
.hypothesis/
test.env
makefile.test.env
*.pytest_cache/
*.ruff_cache/

# Unit test artifacts
index.html

# Virtual environments
.env
.venv/
env/
venv/
virtualenv/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# Ipython Notebook
.ipynb_checkpoints

# Emacs
*~

# Sublime Text
*.sublime-*

# Vim
*.sw*

# Pyenv
.python-version

# pycharm
.idea/

# AWS credentials
.aws/

# MacOS
.DS_Store

# vscode
.vscode/
*.code-workspace

.tool-versions
